html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #E44D26 url(../img/bg-bio.png) no-repeat;
  background-blend-mode: multiply;
  background-position: center center;
  /* background-size: auto; */
  background-size: cover;
}
nav {
  width: 100%;
  margin-top: 30px;
  /* background-color: rgba(255,255,255,.85); */
  /* background-color: #fff; */
}
nav ul {
  list-style: none;
}
nav ul,
nav ul li {
  padding: 0;
  margin: 0;
}
nav ul li {
  font: bold 13px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav ul li a {
  height: 60px;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 0 10px;
}
nav ul li a:hover {
  background-color: #fff;
}
.hero {
  padding: 90px 0 150px 0;
  /* margin-top: 90px; */
}
.hero .container {
  display: block;
}
.hero .container h2 {
  font: 500 45px/1.25 "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* letter-spacing: -.012em; */
  color: #fff;
  max-width: 540px;
  margin: 100px 80px 120px 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.hero .container .sidebar {
  max-width: 300px;
}
.hero .container .sidebar h3,
.bio .container h2,
.gear .container h2,
.music .container h2 {
  height: 60px;
  padding-left: 10px;
  border-left: 1px solid #fff;
  margin-bottom: 20px;
  font: 600 12px/1.75 "Overpass Mono", "Trebuchet MS", monospace;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
}
.gear .container h3 {
  font: 600 12px/1.75 "Overpass Mono", "Trebuchet MS", monospace;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
  /* margin: 60px 0 20px; */
  margin: 20px 0 5px 0;
}
.hero .container .sidebar p,
.bio .container aside p,
.bio .container article p,
.col article p,
.music .container p
 {
  font: 400 13px/1.75 "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.bio .container {
  display: block;
  padding: 60px 0 180px 0;
}
.bio .container h2 {
  /* border-left-color: #f72; */
}
.bio .container aside,
.bio .container article {
  width: 300px;
  margin: 90px 10px;
  flex-direction: column;
}
.bio .container aside p {
  color: #fff;
  padding-right: 30px;
  margin-top: 102px;
}
.bio .container article p {
  color: #fff;
  margin-top: 30px;
}
.bio .container a {
  color: #f72;
  text-decoration: none;
  border-bottom: 1px solid #f72;
}
.gear .container {
  padding: 60px 10px 180px 10px;
}
.gear .container h2,
.music .container h2 {
  color: #333;
  height: 120px;
}
.col article {
  max-width: 320px;
  padding-right: 40px;
}
.col article p {
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
.music .container {
  padding: 90px 10px 180px 10px;
}
.music .container h2 {
  border-color: #ccc;
}
.music .container p {
  max-width: 420px;
  padding-right: 40px;
  margin-bottom: 60px;
}
/** Player ***********************/

.player {
  overflow: hidden;
  width: 300px;
  margin-top: 30px;
  margin-right: 20px;
}
.player iframe {
  /* visibility: hidden; */
  margin-left: -120px;
  margin-top: -3px;
}
.player #widget {
  border: none;
}

/** Structure ********************/

.container-fluid {
  width: 100%;
  height: auto;
  overflow: hidden;
  clear: both;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

/** Backgrounds ******************/

.bg-white {
  background-color: #fff;
}
.bg-yellow {
  background-color: #d4c9aa;
}
.bg-orange {
  background-color: #E44D26;
}
.bg-gradient {
  background: #E44D26;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E44D26, #F16529);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E44D26, #F16529); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-aqua-light {
  background-color: #acc;
}
.bg-grey-light {
  background-color: #f5f5f5;
}

@media screen and (min-width: 960px) {
  body {
    /* background-position: center center; */
    background-size: cover;
  }
  nav ul li {
    display: inline-block;
    width: 140px;
  }
  .hero .container {
    display: flex;
  }
  .hero .container h2 {
    margin: 100px 80px 30px 0;
  }
  .bio .container aside {
    /* margin-left: 320px; */
  }
  .bio .container,
  .col {
    display: flex;
  }

}
@media screen and (min-width: 600px) {

}
