html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #E44D26 url(../img/IMG_0644.jpg) no-repeat;
  background-blend-mode: multiply;
  background-position: center 600px;
  background-size: auto;
}
nav {
  width: 100%;
  margin-top: 30px;
  /* background-color: rgba(255,255,255,.85); */
  /* background-color: #fff; */
}
nav ul {
  list-style: none;
}
nav ul,
nav ul li {
  padding: 0;
  margin: 0;
}
nav ul li {
  font: bold 13px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav ul li a {
  height: 60px;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 0 10px;
}
nav ul li a:hover {
  background-color: #fff;
}
.hero {
  padding: 90px 0 180px 0;
  /* margin-top: 90px; */
}
.hero .container {
  display: block;
}
.hero .container h2 {
  font: 500 42px/1.25 "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* letter-spacing: -.012em; */
  color: #fff;
  max-width: 540px;
  margin: 100px 80px 120px 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.hero .container .sidebar {
  max-width: 300px;
}
h3 {
  height: 60px;
  padding-left: 10px;
  border-left: 1px solid #fff;
  margin-bottom: 20px;
  font: 600 12px/1.75 "Overpass Mono", "Trebuchet MS", monospace;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
}

.hero .container .sidebar p {
  font: 400 13px/1.75 "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
/* .hero h1 {
  font: bold 30px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 600px;
} */

/** Structure ********************/

.container-fluid {
  width: 100%;
  height: auto;
  overflow: hidden;
  clear: both;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

/** Palette *********************/
.bg-white {
  background-color: #fff;
}
.bg-yellow {
  background-color: #ff8;
}
.bg-orange {
  background-color: #E44D26;
}
.bg-gradient {
  background: #E44D26;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E44D26, #F16529);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E44D26, #F16529); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media screen and (min-width: 960px) {
  body {
    /* background-position: center center; */
    background-size: cover;
  }
  nav ul li {
    display: inline-block;
    width: 140px;
  }
  .hero .container {
    display: flex;
  }
  .hero .container h2 {
    margin: 100px 80px 30px 0;
  }
}
@media screen and (min-width: 600px) {

}
